<%- include('partials/header.ejs') %>
    <div class="container">
        <% if(locals.title) {%>
            <h1 style="text-align: center; font-style: italic;">Pamagat: <br /><%= title %></h1>
            <h2 style="padding: 0px; margin: 0px;">Theme: <%= theme %></h2>
            <h3 style="padding: 0px; margin: 0px;">Date Created: <%= date %></h3>
            <p class="stanzas"><%= poem %></p>
        <% } else { %>
            <h1>None</h1>
            <h2>Theme: None</h2>
            <h3>Date Created: None</h3>
            <p class="stanzas">None</p>
        <% } %>
    </div>
<%- include("partials/footer.ejs") %>